<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <cleversoft_searchsuite>
            <cleversearchautocomplete_main>
                <search_delay>500</search_delay>
                <autocomplete_fields>suggest,product</autocomplete_fields>
                <search_category>1</search_category>
                <suggested_result_number>3</suggested_result_number>
                <product_result_number>5</product_result_number>
                <product_result_fields>name,image,reviews_rating,description,price</product_result_fields>
            </cleversearchautocomplete_main>
        </cleversoft_searchsuite>
    </default>
</config>