<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="cleversoft_searchsuite" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Clever Search Autocomplete</label>
            <tab>cleverextensions</tab>
            <resource>CleverSoft_CleverSearchAutocomplete::config_cleversearchautocomplete</resource>
            <group id="cleversearchautocomplete_main" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Autocomplete Configuration</label>
                <field id="search_delay" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[Search Delay]]></label>
                    <validate>validate-zero-or-greater integer</validate>
                </field>
                <field id="autocomplete_fields" translate="label" type="multiselect" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[Show Fields In Popup]]></label>
                    <source_model>CleverSoft\CleverSearchAutocomplete\Model\Source\AutocompleteFields</source_model>
                </field>
                <field id="search_category" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[Search By Category]]></label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="suggested_result_number" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[Number of Results Suggested Search]]></label>
                    <validate>validate-zero-or-greater integer</validate>
                </field>
                <field id="product_result_number" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[Number of Results Product Search]]></label>
                    <validate>validate-zero-or-greater integer</validate>
                </field>
                <field id="product_result_fields" translate="label" type="multiselect" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[Product Search Result Fields]]></label>
                    <source_model>CleverSoft\CleverSearchAutocomplete\Model\Source\ProductFields</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
